APP_NAME=next-social-feed

NEXT_PUBLIC_APP_URL=http://localhost:3000

RESEND_API_KEY=
EMAIL_FROM=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

POSTGRES_USER=postgres
POSTGRES_DB=postgres
POSTGRES_PASSWORD=postgres

DATABASE_URL=postgres://postgres:postgres@localhost/postgres

REDIS_URL=redis://localhost:6379

BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=
